/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}








@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.app {
    width: 100%;
    height: 100%;
    position:absolute;             /* position in the center of the screen */
    text-align:center;
}
#box {
  background-color: blue;
  height: 100%;
  width: 100%;
}

header {
    position: fixed;
    width: 100%;
    background: white;
    opacity: 0.5;
}

#menuButton {
    display: inline;
    float: left;
    text-align: left;
    background-image:  url("../img/menu.png");
    background-size: 100% 100%;
    min-width: 20px;
    min-height: 20px;
}

#title {
    display: inline;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    background: white;
    opacity: 0.5;
    width: 100%;
}

#menu {
    position: fixed;
    visibility: visible;
    background-color: white;
    opacity: 1.0;
    border-radius: 10px;
    width: 80%;
    margin: 20% 10% auto;
    height: 70%;
}

.register-title {
    width: 100%;
    line-height: 43px;
    margin: 20% auto 20px;
    font-size: 19px;
    font-weight: 500;
    color: black;
    /*color: rgba(255, 255, 255, 0.95);*/
    text-align: center;
    /*text-shadow: 0 1px rgba(0, 0, 0, 0.3);*/
    background: #FFFFFF;
    border-radius: 0px;
    /*background-image: -webkit-linear-gradient(top, #dc745e, #d45742);*/
    /*background-image: -moz-linear-gradient(top, #dc745e, #d45742);*/
    /*background-image: -o-linear-gradient(top, #dc745e, #d45742);*/
    /*background-image: linear-gradient(to bottom, #dc745e, #d45742);*/
    /*-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);*/
    /*box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);*/
}

.register {
    margin: 0 auto;
    width: 90%;
    height: 40%;
    padding: 0 auto;
    background: #ffffff;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.register-input {
    display: block;
    width: 90%;
    height: 38px;
    margin:2px auto 2px;
    font-weight: 500;
    background: none;
    border: 0;
    border-bottom: 1px solid #d8d8d8;
}
.register-input:focus {
    border-color: #1e9ce6;
    outline: 0;
}

.register-button {
    display: block;
    width: 90%;
    height: 42px;
    margin: 5% 5% 5%;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    /*text-shadow: 0 1px rgba(255, 255, 255, 0.5);*/
    background: #25C13B;
    border: 1px solid;
    border-color: #25C13B;
    border-radius: 0px;
    cursor: pointer;
    /*background-image: -webkit-linear-gradient(top, #fefefe, #eeeeee);*/
    /*background-image: -moz-linear-gradient(top, #fefefe, #eeeeee);*/
    /*background-image: -o-linear-gradient(top, #fefefe, #eeeeee);*/
    /*background-image: linear-gradient(to bottom, #fefefe, #eeeeee);*/
    /*-webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);*/
    /*box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);*/
}
.register-button:active {
    background: #eee;
    border-color: #25C13B;
    /*background-image: -webkit-linear-gradient(top, #eeeeee, #fcfcfc);*/
    /*background-image: -moz-linear-gradient(top, #eeeeee, #fcfcfc);*/
    /*background-image: -o-linear-gradient(top, #eeeeee, #fcfcfc);*/
    /*background-image: linear-gradient(to bottom, #eeeeee, #fcfcfc);*/
    /*-webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);*/
    /*box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);*/
}
.register-button:focus {
    outline: 0;
}


:-moz-placeholder {
    color: #aaa;
    font-weight: 300;
}

::-moz-placeholder {
    color: #aaa;
    font-weight: 300;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: #aaa;
    font-weight: 300;
}

:-ms-input-placeholder {
    color: #aaa;
    font-weight: 300;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}
